
 <%- include('../partials/head.ejs') %>

<body>
    <!--Header-->
    <%- include('../partials/header.ejs') %>
    <!--Main-->
<main class="main-create">
    <section>
        <div class="top-half">
            <a>Agrega el producto que desees!</a>
        </div> 

        <div class="select-category-txt">Selecciona la categoria correspondiente
        </div>
        <form action="/products/create" method="post" enctype="multipart/form-data">
            <div class="icon-category">
                <div class="selection-inputs" >
                    <a class="icon-properties" ><img src="/images/golf-ball-with-dents.png" alt=""></a>
                    <p>Accesories</p>
                <input type="radio" name="category" value="accesories" value="<%=locals.oldData ? oldData.category : null %> ">
                </div>
                <div class="selection-inputs" >
                    <a class="icon-properties" ><img src="/images/caddy.png" alt=""></a>
                    <p>Bags</p>
                <input type="radio" name="category" value="bags" value="<%=locals.oldData ? oldData.category : null %> ">
                </div>
                <div class="selection-inputs" >
                    <a class="icon-properties" ><img src="/images/golfing.png" alt=""></a>
                    <p>Clubs</p>
                <input type="radio" name="category" value="clubs" value="<%=locals.oldData ? oldData.category : null %> ">
                </div>
                <div class="selection-inputs" >
                    <a class="icon-properties" ><img src="/images/smart-shoe.png" alt=""></a>
                    <p>Shoes</p>
                <input type="radio" name="category" value="shoes" value="<%=locals.oldData ? oldData.category : null %> ">
                </div>
                <div class="selection-inputs" >
                    <a class="icon-properties" ><img src="/images/golf-sets.png" alt=""></a>
                    <p>Sets</p>
                <input type="radio" name="category" value="sets" value="<%=locals.oldData ? oldData.category : null %> ">
                </div>
                
              
            </div>

           

    </section>
    <section>
        <div class="detailed-description">
            <p class="description-title">Descripción y detalles del producto</p>
            
                <div class="item-name">
                <p>Nombre del producto</p>
                <% if (locals.errors && errors.name) { %>   
                <span class="error-msg"><%= errors.name.msg %> </span>
                <% } %> 
                <input type="text" name="name" placeholder="Nombre" value="<%=locals.oldData ? oldData.name : null %> ">
                <p>Descripción</p>
                <textarea class="description"  name="description" value="<%=locals.oldData ? oldData.description : null %> " placeholder="Agregue una descripción" ></textarea>
                <p>Precio</p>
                <% if (locals.errors && errors.price) { %>   
                    <span class="error-msg"><%= errors.price.msg %> </span>
                    <% } %> 
                <input type="number" name="price" placeholder="Ej. $ 1,500" value="<%=locals.oldData ? oldData.price : null %> " >
                <p>Cantidad</p>
                 <% if (locals.errors && errors.quantity) { %>   
                <span class="error-msg"><%= errors.quantity.msg %> </span>
                <% } %> 
                <input type="number" name="quantity" placeholder="Ej. 500" value="<%=locals.oldData ? oldData.quantity : null %> " >
                <p>Talle</p>
                <input type="text" name="size" placeholder=""value="<%=locals.oldData ? oldData.size : null %> " >
                <p>Color</p>
                <input type="text" name="color" placeholder="" value="<%=locals.oldData ? oldData.color : null %> ">
                <p>Marca</p>
                <input type="text" name="brand" placeholder="" value="<%=locals.oldData ? oldData.brand : null %> ">
                </div>

           
        
        </div>

    </section>
    <section>
        
        <div class="img-section">
            <h2> Agrega la imagen del producto</h2>
           
                <input type="file" name="productimg">
           
        </div>
        <div class="buttons">
        <button class="erase-button" type="reset">
            Borrar
        </button>
        <button class="confirm-button" type="submit">
            Confirmar
        </button>
        </div>
    </form>
    </section>
</main>
    <!--Footer-->
    <%- include('../partials/footer.ejs') %>
</body>
