
 <%- include('../partials/head.ejs') %>

<body>
    <!--Header-->
    <%- include('../partials/header.ejs') %>
    <!--Main-->
<main class="main-create">
    <section>
        <div class="top-half">
            <a>Agrega el producto que desees!</a>
        </div> 

        <div class="select-category-txt">Selecciona la categoria correspondiente
        <a href="/products/preferences"> Agregar m치s!</a>
        </div>
        
        <form action="/products/create" method="POST" enctype="multipart/form-data">
            <div class="icon-category">
                <select class="categories" name="categories" id="">
                    <% categories.forEach(category => { %> 
                        <option value="<%=category.id%>">
                            <%=category.name %> 
                        </option>
                        <% }) %>
                </select>
              
            </div>
            

           

    </section>
    <section>
        <div class="detailed-description">
            <p class="description-title">Descripci칩n y detalles del producto</p>
            
                <div class="item-name">
                <p>Nombre del producto</p>
                <% if (locals.errors && errors.name) { %>   
                <span class="error-msg"><%= errors.name.msg %> </span>
                <% } %> 
                <input type="text" name="name" placeholder="Nombre" value="<%=locals.oldData ? oldData.name : null %>">
                <p>Descripci칩n</p>
                <textarea class="description"  name="description" value="<%=locals.oldData ? oldData.description : null %> " placeholder="Agregue una descripci칩n" ></textarea>
                <p>Precio</p>
                <% if (locals.errors && errors.price) { %>   
                    <span class="error-msg"><%= errors.price.msg %> </span>
                    <% } %> 
                <input type="number" name="price" placeholder="Ej. $ 1,500" value="<%=locals.oldData ? oldData.price : null %> " >
                <p>Cantidad</p>
                 <% if (locals.errors && errors.quantity) { %>   
                <span class="error-msg"><%= errors.quantity.msg %> </span>
                <% } %> 
                <input type="number" name="quantity" placeholder="Ej. 500" value="<%=locals.oldData ? oldData.quantity : null %> " >
                <p>Talle</p>
                <input type="text" name="size" placeholder=""value="<%=locals.oldData ? oldData.size : null %> " >
                <p>Color</p>
                <input type="text" name="color" placeholder="" value="<%=locals.oldData ? oldData.color : null %> ">
                <p>Marca</p>
                
                <select class="brands" name="brand" id="">
                    <% brands.forEach(brand => { %> 
                    <option value="<%=brand.id%> "><%=brand.name%></option>
                    <%  }) %> 
                </select>
               
                </div>

           
        
        </div>

    </section>
    <section>
        
        <div class="img-section">
            <% if (locals.errors && errors.image) { %>
                <span class="error-msg">
                    <%= errors.image.msg %>
                </span>
                <% } %>
            <h2> Agrega la imagen del producto</h2>
                <input type="file" name="image">
        </div>
        
        <div class="buttons">
        <button class="erase-button" type="reset">
            Borrar
        </button>
        <button class="confirm-button" type="submit">
            Confirmar
        </button>
        </div>
    </form>
    </section>
</main>
    <!--Footer-->
    <%- include('../partials/footer.ejs') %>
    <script src="/javascripts/create_product.js"></script>
</body>
