
    <%- include('../partials/head.ejs') %>

<body>
    <!--Header-->
    <%- include('../partials/header.ejs') %>
    <!--Main-->
    <main>
       <section class="edit-page-section">
           <div class="bgeditpanel01">
               <p class="edit-title"> Edición del producto</p>
           </div>
           <form id="form" action="/products/edit/<%=product.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
           <div class="edit_contents">
                   <div class="item-edit-properties">
                    <p name="id"style="color:rgba(255, 137, 58, 0.815); font-size: 2rem">ID:<%= product.id%></p> 
                    <p>Categorias</p>
                    
                    <select class="categories" name="categories" id="categories" id="" value="<%=product.categories_id%>">
                        <% categories.forEach(category=> { %>
                        <option value="<%=category.id%>">
                        <%=category.name%> 
                        </option>
                        <% }) %>
                    </select>
                    
                    <p>Nombre del producto</p>  
                    <input type="text" name="name" id="name" placeholder="Nombre" value="<%=locals.oldData ? oldData.name : product.name %>">
                    <span class="error-msg" id="nameError"></span>
                    <% if (locals.errors && errors.name) { %>   
                        <span class="error-msg"><%= errors.name.msg %> </span>
                        <% } %>
                    <p>Descripción</p>
                    <textarea class="edit-description"  id="description" name="description" placeholder="Agregue una descripción" value=""><%= product.description%></textarea>
                    <span class="error-msg" id="descriptionError"></span>
                    <p>Precio</p>
                    <input type="text" name="price" id="price" value="<%= product.price%>" placeholder="Ej. $ 1,500">
                    <% if (locals.errors && errors.price) { %>   
                        <span class="error-msg"><%= errors.price.msg %> </span>
                        <% } %>
                        <span class="error-msg" id="priceError"></span>

                    <p>Cantidad</p>
                    <input type="text" name="quantity" id="quantity" value="<%= product.quantity%>" placeholder="Ej. 500">
                    <% if (locals.errors && errors.quantity) { %>   
                        <span class="error-msg"><%= errors.quantity.msg %> </span>
                        <% } %>
                        <span class="error-msg" id="quantityError"></span>
                    <p>Talle</p>
                    <input type="text" name="size" id="size" value="<%= product.size%>" placeholder="" >
                    <p>Color</p>
                    <input type="text" name="color" id="color" value="<%= product.color%>" placeholder="" >
                    <p>Marca</p>
                    <select class="brands" name="brands" id="">
                    <% brands.forEach(brand=> { %>
                        <option value="<%=brand.id%>">
                            <%=brand.name%>
                        </option>
                        <% }) %>
                    </select>
                </div>
                  

                  
               
                <div class="second_panel_img_edit">
                    
                    <img src="/images/products/<%=image.name%>" alt="">
                    <label for="">Insertar la imagen nueva</label>
                    <input id="image" type="file" name="image">
                    <span class="error-msg" id="imageError"></span>
                    <button type="submit" class="save-changes-button">Guardar Cambios</button>
                </div>
            </div>
        </form>
            
           
       </section>
      
    </main>
    <script src="/javascripts/editProduct.js"></script>
    <!--footer-->
    
    <%-include('../partials/footer.ejs') %>
    
</body>
