
    <%- include('../partials/head.ejs') %>
<body>
       <!--Header-->
       <%- include('../partials/header.ejs') %>
       <!--Main-->
    <main class="products-listing">
        <div class="sidebar-sections">
            <div class="most-searched-sections">
                <a href="/products">Nuestros productos</a>
                <a href="">Ofertas</a>
                <a href="">Nuevos</a>
            </div>
            <div class="products-categorysection">
                <p>Categorías</p>
                <a href="/products/clubs">Clubs</a>
                <a href="/products/bags">Bags</a>
                <a href="/products/shoes">Shoes</a>
                <a href="/products/accesories">Accesories</a>
                <a href="/products/sets">Sets</a>
            </div>
        </div>
        <div class='selectedproducts-showing'>
       
        
            <% for(let i = 0; i < productos.length; i++) { %> 
                <section class='img-container'>
                <a href="/products/product/<%=productos[i].id%>" >
                    <% image.forEach(img=> { %>
                   <% if (productos[i].id == img.products_id) { %>
                    <img src="/images/products/<%=img.name%>" alt="">
                   <% } %>
                <% }) %>       
                        <div class="img-container-data">
                        <h4><%=productos[i].name%></h4>
                        <span>$ <%= productos[i].price%></span>
                        <p> Agregar a Carrito <button class="add-to-cart" value="<%=productos[i].id%>"><i class="fas fa-shopping-cart"></i></button></p>
                        </div>       
                </a>
                </section>
                <% } %>
    </div>
    </main>
  <!--Footer-->
  <%- include('../partials/footer.ejs') %>
    
</body>
</html>