
<%- include("./partials/head.ejs") %>

<body>
    <!--Header-->
    <head></head>
    <%- include("./partials/header.ejs")  %> 

    <!--MAIN-->
    <main class="main-index">
        <div class='contenedormain'>
                <ul>
                    <li><img src="/images/main-image-todo2.png" alt=""></li>
                    <li><img src="/images/different_types_of_golf_clubs.jpeg" alt=""></li>
                    <li><img src="/images/PXGW-3258-HP-POVs-GEN4-2100x1500.jpg" alt=""></li>
                    <li><img src="/images/Muscle-Back-Vs-Cavity-Irons-1030x627.jpg" alt=""></li>
                </ul>
    </div>

     <!---Middle Main Section-->
    <section class="middle-section">
        <div class="middle-section-img">
           <div class="middle_section_main_img"> 
               <img src="/images/Homepage-Thumb-Clubs.png" alt="">
            </div>
            <div class="selected-images">
            <!-- <ul>
                <li class="main_section_img1"><img src="/images/crocodile-facing-right.png" alt=""></li>
                <li class="main_section_img2"><img src="/images/descarga.jpg" alt=""></li>
                <li class="main_section_img3"><img src="/images/golf-ball-with-dents.png" alt=""></li>
                <li class="main_section_img4"><img src="/images/pngkey.com-golf-ball-png-54999.png" alt=""></li>
                <li class="main_section_img5"><img src="/images/remera-carrito.jpg" alt=""></li>
            </ul>  -->
            </div>
        </div>
        <h2>Where your green is our home</h2>
        <div class="bg-panel1"></div>
        <div class="main-section-buttons">
            <a class="section-description">Sections</a>
            <div class="button-clubs">
                    <a href="#"><img src="/images/golfing.png"></a>
                    <p class="section-clubs"> Clubs </p>
            </div>
            <div class="button-bags">
                <a href="#"><img src="/images/caddy.png" alt=""></a>
                <p class="section-bags"> Bags </p>
            </div>
            <div class="button-shoes">
                <a href="#"><img src="/images/smart-shoe.png" alt=""></a>
                <p class="section-shoes"> Shoes </p>
            </div>
            <div class="button-golfballs">
                <a href="#"><img src="/images/golf-ball-with-dents.png" alt=""></a>
                <p class="section-golfballs"> Accesories </p>
            </div>
            <div class="button-sets">
                <a href="#"><img src="/images/golf-sets.png" alt=""></a>
                <p class="section-sets"> Sets </p>
            </div>
            </div>
        <div class="membership-discounts"> 
            <a class="membership-txt" href=""> Take a look at our membership discounts for this selected clubs</a>
            <a class="membership-icon"><i class="fas fa-id-card"></i></a>
        </div>
        
        

    </section>

    <!-- Bottom Main Section-->
    <section class="interactive-search">
        <h2>Or look for yourself</h2>
        <div class="search-box">
            <input class="search-txt" type="text" name="" placeholder="Type to search">
            <a class="search-btn" href="">
            <i class="fas fa-search"></i>
            </a>
        </div>

    </section>

<!--Main Bottom Section-->

    <section class="main-bottom-section">
        <a class="main-categorias">Ofertas</a>

        <div class="main-sub-categorias">

            <a h>Clubs</a>
            <a>Indumentaria</a>
            <a>Mochilas</a>
            <a>Sets</a>

        </div>
       
        <div class="main-images">
            <% product.forEach(product => { %>
            
            <section class='img-container'>
            <a href="/products/product" >
                <img src="<%= product.productimg%>" alt="">

                    <div class="img-container-data">
                    <h4><%=product.name%></h4>
                    <span><%= product.price%></span>
                    <p> Agregar a Carrito <i class="fas fa-shopping-cart"></i></p>
                    </div>       
            </a>
            </section>
        
            
            <% } ) %>
        </div>
       
    </section>
       
    </main>

<!--FOOTER-->
<%- include("./partials/footer.ejs")  %>    
    
</body>
