<%- include("../partials/head.ejs") %> 
<body>
    <%- include("../partials/header.ejs")  %>
    <main>
        <%=usuario.id%>
        <%=usuario.id%> 
    </main>
    <!--------FOOTER-->
    <%- include("../partials/footer.ejs")  %> 
</body>
