<%- include("../partials/head.ejs") %> 
<body>
    <%- include("../partials/header.ejs")  %>
    <main>
        <section class="profile_page">
            <div class="profile_section">
            <div class="profile_image"><img src="../../images/users/<%=usuario.imagenUsuario%>"></div>
                <div class="profile_data">
                    <div class="profile_user_id"><%=usuario.id%> </div>
                    <div class="profile_user_name"><%=usuario.nombre%></div>
                    <div class="profile_user_email"><%=usuario.email %> </div>
                </div>
        </div>
        </section>
         
    </main>
    <!--------FOOTER-->
    <%- include("../partials/footer.ejs")  %> 
</body>
