
    <%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/header.ejs")  %>

    <main class="main-register">
        <section>
            <div class="contenedor-main-register">
                <div class="contenedor-titulo">
                    <div class="titulo-register">
                        <p>Formulario de Registro</p>
                    </div>
                    <div class="form-register">
                        <form id="userForm" action="/users/register" method="POST" enctype="multipart/form-data">
                            <div>
                                <label for="nombre"> </label>
                                <input type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido" value="<%=locals.oldData ? oldData.nombre : null %>">
                                <span class="error-msg" id="nameError"></span>
                                <% if (locals.errors && errors.nombre) { %>
                                    <span class="error-msg"><%=errors.nombre.msg%></span>
                                <% } %>
                            </div>
                            <div>
                                <label for="usuario"> </label>
                                <input type="text" name="usuario" id="usuario" placeholder="Usuario" value="<%=locals.oldData ? oldData.usuario : null %>" >
                                <% if (locals.errors && errors.usuario) { %>
                                    <span class="error-msg"><%=errors.usuario.msg%></span>
                                <% } %>
                                <span class="error-msg" id="userError"></span>
                            </div>
                            <div>
                                <label for="password"></label>
                                <input type="password" name="password" id="password" placeholder="Contraseña" value="<%=locals.oldData ? oldData.password : null %>" >
                                <% if (locals.errors && errors.password) { %>
                                    <span class="error-msg"><%=errors.password.msg%></span>
                                <% } %>
                                <span class="error-msg" id="passwordError"></span>
                            </div>
                            <div>
                                <label for="email"> </label>
                                <input type="text" name="email" id="email" placeholder="Email" value="<%=locals.oldData ? oldData.email : null %>" >
                                <% if (locals.errors && errors.email) { %>
                                    <span class="error-msg"><%=errors.email.msg%></span>
                                <% } %>
                                <span class="error-msg" id="emailError"></span>
                            </div>
                            <div class="avatarImage">
                                <p>Selecciona tu imagen de perfil</p>
                                <label for="Image"></label>
                                <input id="image" type="file" name="imagenUsuario">
                                <span class="error-image-msg" id="imageError"></span>
                            </div>

                            <div class="botones">
                                <div class="boton-registrar">
                                    <button type="button"><a href="/users/login">Iniciar Sesión</a></button id="submit"></button>
                                </div>
                                <div class="boton-confirmar">
                                    <button type="submit">Confirmar</button id="submit"></button>
                                </div>
                            </div>



                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
<script src="/javascripts/createrUser.js" defer></script>
    <!--FOOTER-->
<%- include("../partials/footer.ejs")  %>  
</body>

